/* H1 Page Title has larger font */
h1.page-title {
    font-size: 300%;
}
/* Page header has darker thicker dividing line */
.page-header {
    border-bottom: 2px solid #000;
}
.page-header h1 {
    border-bottom: 0px;
}

.debug-border-red {
/*
    border: 1px solid #f00;
*/
}

.debug-border-green {
/*
    border: 1px solid #0f0;
*/
}

.debug-border-blue {
/*
    border: 1px solid #00f;
*/
}

.debug-border-black {
/*
    border: 1px solid #000;
*/
}

/* Global topbar */
.harth-topbar-global {
    background-color: #a00;
    color: #ddd;
}
.harth-row-global {
}

/* Local topbar */
.harth-topbar-local {
    background-color: #a00;
    color: #ddd;    
}
.harth-row-local {
}

/* Mid row (sidebar and content) */
.harth-row-mid {
}

/* Sidebar */
.harth-sidebar-top {
    margin-top: 20px;
    margin-bottom: 10px;
}
.harth-site-title {
    color: #fff;
    font-size: 200%;
}
.harth-site-author {
    color: #ddd;
    font-size: 110%;
}
.harth-sidebar {
    color: #ddd;
    background-color: #a00;

    /* fixed sidebar at top, left, stretch sidebar to height of display */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
}
.harth-sidebar a {
    color: #fff;    
}
.harth-sidebar li {
    color: #aaa;
}

/* Content */
.harth-content {
}

/* Headings are coloured red, h1 has underline */
h1 {
    border-bottom: 1px solid #ccc;
}
h1,h2,h3,h4,h5 {
    color: #c00;
}

