<!DOCTYPE html>
{{ "<!-- BEGIN partials/header.html -->" | safeHTML }}
<html>
  <head>
{{ partial "header-device.html" . }}    
{{ partial "header-page.html" . }}
{{ partial "header-bootstrap.html" . }}
  </head>
  <body>
    <div class="container-fluid" style="border: 1px solid #0f0;">
      {{ partial "topbar-global.html" . }}
      {{ partial "topbar-local.html" . }}
      <div class="row">
	{{ partial "sidebar.html" . }}
	<div class="col-md-9" style="border: 1px solid #f00;">
{{ "<!-- END partials/header.html -->" | safeHTML }}
