{{ "<!-- BEGIN partials/post-list.html -->" | safeHTML }}
{{ partial "body-begin.html" . }}

<div class="page-header">
  <h1 class="page-title">Blog</h1>
</div>

<div class="harth-post-list">
  {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
  {{ range $paginator.Pages }}
  <div class="harth-post">
    <h1 class="harth-post-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h1>
    <span class="harth-post-date">
      {{ .Date.Format "Jan 2, 2006" }} &middot; {{ .ReadingTime }} minute read
      {{ if .Site.DisqusShortname }} &middot; <a href="{{ .Permalink }}#disqus_thread">Comments</a>{{ end }}
      {{ if isset .Params "categories" }}
        <br/>
        {{ range .Params.categories }}
	  <a class="harth-label" href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>
	{{ end }}
      {{ end }}
    </span>
    {{ if eq .Site.Params.truncate false }}
      {{ .Content }}
    {{ else if .Description }}
      <p>{{ .Description }}</p>
      <a href="{{ .Permalink }}">Read On &rarr;</a>
    {{ else }}
      {{ .Summary }}
      {{ if .Truncated }}<a href="{{ .Permalink }}">Read On &rarr;</a>{{ end }}
    {{ end }}
  </div>
  {{ end }}
  {{ template "_internal/pagination.html" . }}
</div>

{{ partial "disqus-count.html" . }}
{{ partial "body-end.html" . }}
{{ "<!-- END partials/post-list.html -->" | safeHTML }}
