{{ "<!-- BEGIN partials/sidebar-nav.html -->" | safeHTML }}
<div style="border: 1px solid #000;">
  <ul class="sidebar-nav">
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
    <li><a href="#">A</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">B</a></li>
    <li><a href="#">END</a></li>
  </ul>
</div>
{{ "<!-- END partials/sidebar-nav.html -->" | safeHTML }}
