{{ "<!-- BEGIN partials/sidebar.html -->" | safeHTML }}

<div class="col-sm-3 debug-border-blue harth-sidebar">
  <div class="harth-sidebar-top">
    <div class="harth-site-title">
      {{ .Site.Params.title_html | safeHTML }}
    </div>
    <div class="harth-site-author">
      By <a href="{{ .Site.Params.author_url }}">{{ .Site.Params.author }}</a>
    </div>
  </div>
  <div class="harth-sidebar-nav">
    {{ partial "sidebar-nav.html" . }}
  </div>
  <div class="harth-sidebar-bot">
    {{ partial "sidebar-bot.html" . }}
  </div>
</div>

{{ "<!-- END partials/sidebar.html -->" | safeHTML }}
