{{ "<!-- BEGIN partials/sidebar-nav.html -->" | safeHTML }}
<div style="border: 1px solid #000;">
  <h2>Sidebar Nav</h2>
  <ul>
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
    <li>A</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>B</li>
    <li>END</li>  
  </ul>
</div>
{{ "<!-- END partials/sidebar-nav.html -->" | safeHTML }}
