{{ "<!-- BEGIN partials/topbar-global.html -->" | safeHTML }}
<div class="row" style="border: 1px solid #000;">
  <div class="col-md-1" style="border: 1px solid #000;">
    Global
  </div>
  <div class="col-md-1" style="border: 1px solid #000;">
    B
  </div>
  <div class="col-md-1" style="border: 1px solid #000;">
    C
  </div>
  <div class="col-md-1" style="border: 1px solid #000;">
    D
  </div>
  <div class="col-md-1" style="border: 1px solid #000;">
    E
  </div>
  <div class="col-md-1" style="border: 1px solid #000;">
    END
  </div>
</div>
{{ "<!-- END partials/topbar-global.html -->" | safeHTML }}
