{{ "<!-- BEGIN partials/topbar-local.html -->" | safeHTML }}
<div class="row debug-border-black harth-topbar-local harth-row-local">
  <div class="col-md-1 debug-border-black">
    Local
  </div>
  <div class="col-md-1 debug-border-black">
    B
  </div>
  <div class="col-md-1 debug-border-black">
    C
  </div>
  <div class="col-md-1 debug-border-black">
    D
  </div>
  <div class="col-md-1 debug-border-black">
    E
  </div>
  <div class="col-md-1 debug-border-black">
    END
  </div>
</div>
{{ "<!-- END partials/topbar-local.html -->" | safeHTML }}
